@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    @*One Microsoft Way<br />*@
    Delhi, IN 98052-63999<br />
    <abbr title="Phone">P:</abbr>
    @*425.555.0100*@ 010-44383838
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:msn2106@gmail.com">msn2106@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>